<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Todo</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Are you sure you want to delete "{{ todo.title }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="background-color: red; color: white; border-radius: 12px; width: 130px; padding: 10px; border: none;">Yes, delete</button>
    </form>
    <a href="{% url 'index' %}" style="background-color: green; color: white; border-radius: 12px; width: 110px; text-align: center; margin-top: 10px; padding: 10px;">Cancel</a>
</body>
</html>